html, body {
  height: 100vh;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
               'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #31708E; /*#F7F9FB */
}

/* Header and Nav */
header .top, main, footer {
  padding: 10px 15%;
}

header {
  background-color: #8FC1E3;
  border-bottom: 3px solid #31708E;
  font-family: Consolas, 'Lucida Console', monospace;
}

h1 {
  color: #31708E;
  font-weight: bold;
  white-space: nowrap;
}

h1 a {
  color: inherit;
}

h1 a:hover {
  color: #F7F9FB;
  text-decoration: none;
}

.title {
  padding: 0;
}

nav {
  font-weight: bold;
  color: #31708E;
}

nav ul {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 5px 0 5px 20px;
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 0 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.75s;
}

nav ul li a:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #F7F9FB;
}

nav ul li a.active {
  border-bottom: 2px solid #5085A5;
}


/* Main content area */
main {
  font-size: 20px;
  padding-top: 50px;
  color: #F7F9FB;
}

.content-header {
  margin-bottom: 50px;
}

h3 {
  font-size: 50px;
  color: #F7F9FB;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  color: #8FC1E3;
  font-weight: bold;
}


footer {
  border-top: 3px solid #8FC1E3;
  background-color: #5085A5;
  box-shadow: 0 50vh 0 50vh #5085A5;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li, footer dl dd {
  margin-bottom: 5px;
  color: #F7F9FB;
}

footer ul li a, footer dl dt a {
  color: #F7F9FB;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

footer ul li a:hover, footer dl dt a:hover {
  color: #8FC1E3;
  text-decoration: none;
  font-size: 20px;
}

h5 {
  font-size: 25px;
  font-family: Consolas, 'Lucida Console', monospace;
  margin-bottom: 10px;
  color: #8FC1E3;
  font-weight: bold;
}

.copyright {
  text-align: center;
  color: #F7F9FB;
}


/* Project container */
.project {
  padding: 20px;
  margin-bottom: 20px;
}

.project-title {
  background-color: #8FC1E3;
}

.project-header {
  border-bottom: 1px dashed dimgrey;
  margin: 0;
  padding-bottom: 20px;
}

h6 {
  font-size: 25px;
  color: #8FC1E3;
  margin-bottom: 20px;
}

.project-info, .project-tech, .project-image {
  padding: 0;
}

.link-list {
  padding: 0;
  margin: 0;
}

.link-list li {
  display: inline-block;
  margin-right: 0.5em;
}

.link-list li + li::before {
  content: " | ";
}

.project-image img {
  border: 2px solid dimgrey;
}

.project-description {
  padding-top: 20px;
}

img.tech {
  float: right;
}