html, body {
  height: 100vh;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
               'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Header and Nav */
header, main, footer {
  padding: 10px 100px;
}

header {
  border-bottom: 3px solid darkorange;
  font-family: Consolas, 'Lucida Console', monospace;
  background: white;
  opacity: 0.8;
}

h1 {
  color: dimgray;
  font-weight: bold;
  white-space: nowrap;
}

h2 {
  color: darkorange;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

nav {
  font-weight: bold;
  color: dimgray;
}

nav ul {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 5px 20px 5px 0;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 0 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.75s;
}

nav ul li a:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid darkgrey;
}

nav ul li a.active {
  border-bottom: 2px solid darkorange;
}


/* Main content area */
h3 {
  font-size: 50px;
  color: dimgray;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  color: darkorange;
  font-weight: bold;
}


footer {
  background-color: dimgrey;
  border-top: 3px solid darkorange;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li, footer dl dd {
  margin-bottom: 5px;
  color: white;
}

footer ul li a, footer dl dt a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

footer ul li a:hover, footer dl dt a:hover {
  color: darkorange;
  text-decoration: none;
  font-size: 20px;
}

h5 {
  font-size: 25px;
  font-family: Consolas, 'Lucida Console', monospace;
  margin-bottom: 10px;
  color: darkorange;
}

.copyright {
  text-align: center;
  color: white;
}


/* Project container */
.project {
  border: 2px solid darkorange;
  padding: 20px;
  margin-bottom: 20px;
}

.project-header {
  border-bottom: 1px dashed dimgrey;
  margin: 0;
}

h6 {
  font-size: 25px;
  color: darkorange;
  margin-bottom: 10px;
}

.project-info, .project-tech, .project-image {
  padding: 0;
}

.link-list {
  padding: 0;
  margin: 0;
}

.link-list li {
  display: inline-block;
  margin-right: 0.5em;
}

.link-list li + li::before {
  content: " | ";
}